{% extends 'base.html.twig' %}

{% block title %}{{ 'category.new'|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-8 offset-2 login p-4 mt-4 mb-4">
            <h1 class="mt-2 mb-4">Create new Category</h1>

            {{ include('category/_form.html.twig') }}

            <a href="{{ path('category_index') }}" class="btn btn-primary mt-3 mb-3 btn-sm"> <i class="fas fa-arrow-alt-circle-left"></i> {{ 'action.back_to_list'|trans }}</a>

        </div>
    </div>


{% endblock %}